
body {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  color: rgb(51, 51, 51);
}


input[type="text"], input[type="email"], input[type="url"], input[type="number"],
textarea,
select,
fieldset {
  display: block;

}
